@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Movies</h1>

<div id="container">
    <div id="results">
        @foreach (Movie m in Model.Movies)
        {
            <div class="movie-entry">
                <h2>
                    @m.Title
                <smaller>
                    @(@m.MPAA_Rating == null ? "" : $"({ @m.MPAA_Rating})")
                </smaller>
            </h2>
            <i>@m.Major_Genre</i>
            <div class="ratings">
                <div>
                    Rotten Tomatoes
                    <h3>@m.Rotten_Tomatoes_Rating</h3>
                </div>
                <div>
                    IMDB
                    <h3>@m.IMDB_Rating</h3>
                </div>

            </div>
        </div>

    }
    </div>
    
</div>

<form method="post">
    <input type="text" name="search" id="search" />
    <input type="submit" value="Search and Filter" />

    <h2>MPAA Rating</h2>
    <div class="checkbox-list">
        <label>
            <input type="checkbox" name="rating" value="G" />
            Rated G
        </label>
        <label>
            <input type="checkbox" name="rating" value="PG" />
            Rated G
        </label>
        <label>
            <input type="checkbox" name="rating" value="PG-13" />
            Rated PG-13
        </label>
        <label>
            <input type="checkbox" name="rating" value="R" />
            Rated R
        </label>
        <label>
            <input type="checkbox" name="rating" value="NC-17" />
            Rated NC-17
        </label>
    </div>
</form>

